@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-scale: 1;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-size: calc(16px * var(--font-scale));
}

body {
  min-height: 100%;
}
